.side-drawer {
  height: 100%;
  background: #fff;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left:  0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  /* transform: translateX(-100%); */
  transition: transform 0.3s ease-out;
}


.side-drawer ul{
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.side-drawer ul li a {
  text-decoration: none;
  color: black;
}
.side-drawer span {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.project-active {
  color: #FFC600 !important;
}
.studio-active {
   color: #FFC600 !important;

}
.ad-hoc-active {
  color: #FFC600 !important;

}
.contact-active {
    color: #FFC600 !important;

}


.side-drawer span:hover,
.side-drawer span:active{
  color: red;
}

.side-drawer.open {
  transform: translateX(0);
}


@media (min-width: 760px){
    .side-drawer {
        display: none;
    }
}